{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>

<body>
    <!-- Content block -->
    {% block content %}
    {% for info_article in info %}
    <div class="content">
            <div class="content-head">
              <h3>Technology News</h3>
              <p>Up-to-date Technology News coverage.</p>
            </div>
          
            <!-- Content Body -->
            <div class="content-body">
              <div class="row">
          
                <div class="col-sm-4">
                  <div class="card">
                    <a href={{info_article.url}} target="blank_">
                      <img class="card-img-top" src={{info_article.urlToImage}} alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title text">{{info_article.title}}</h5>
                        <p class="date text-left">{{info_article.description}}</p>
                        <p class="date text-left">{{info_article.publishedAt}}</p>
                        <div class="card-footer">
                          <small class="text-muted">{{info_article.author}}</small>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>


    {% endfor %}

    {% endblock%}
</body>

</html>