<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>  Welcome to The Most Amazing News Highlight Website </title>
        {% endif %}
    </head>
    <body>
         <!-- Business Article section  -->
        <h3> Business Articles </h3>
         <ul>
            {% for business_article in business %}
                <li>{{ business_article.title}}</li>
            {% endfor %}
        </ul>

    </body>
</html>