<div class="container">
    <br>
    <div class="row">
      <nav class="navbar navbar-black bg-black">
        <a class="navbar-brand" href="#"></a>
          <button class="btn btn-md btn-outline-success" type="button"  id="categories" href="#">Home</button>
          &nbsp; &nbsp;
          
          <button class="btn btn-md btn-outline-success" type="button" id="categories" href="#">Business</button>
          &nbsp; &nbsp;
          
          <button class="btn btn-md btn-outline-success" type="button"  id="categories" href="#">Sports</button>
          &nbsp; &nbsp;
          
          <button class="btn btn-md btn-outline-success" type="button"  id="categories" href="/{{''}}">Technology</button>
          &nbsp; &nbsp;

          <button class="btn btn-md btn-outline-success" type="button"  id="categories" href="#">Entertainment</button>
          &nbsp; &nbsp;

          <button class="btn btn-md btn-outline-success" type="button"  id="categories" href="#">Health</button>
          &nbsp; &nbsp;

          <button class="btn btn-md btn-outline-success" type="button"  id="categories" href="#">Science</button>
          &nbsp; &nbsp;
          
</div>
</div>

<style>
  .business{
    font-size: 15px;
  }
  .sports{
    font-size: 15px;
  }
  .tech{
    font-size: 15px;
  }
  #categories{
  /* color: red; */
  border-radius: 0%;
  height: 35px;
  font-family: 'Abril Fatface', cursive;
  font-size: 17px;
  border: solid rgb(19, 158, 19);
}
</style>
